<apex:page controller="CandidatePageController" id="pg" showHeader="false">
 <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script>
        function confirmation(){      
            var x = document.getElementById('pg:fm:file').value;        
            if(!x){
              // alert('Please Upload Your Resume');
                  var a=document.getElementById("warning_msg").innerHTML="Please Upload Your Resume";
            console.log("inside x");
            var modal = document.getElementById('myModal');

                        // Get the button that opens the modal
                        var btn = document.getElementById("myBtn");
                        
                        // Get the <span> element that closes the modal
                        var span = document.getElementsByClassName("close")[0];
                        
                        // When the user clicks the button, open the modal 
                        
                            modal.style.display = "block";
                        
                        
                        // When the user clicks on <span> (x), close the modal
                        span.onclick = function() {
                            modal.style.display = "none";
                        }
                        
                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function(event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                          }  
            }
            else{
                saveData();
            }           
        }
    </script> 
    <style>
      .header_top {
   
    background: #cd9933;
 
    z-index:99;
}
.image {
    padding-top: 8px;
}
.content_flow {
    width: 80%;
    height: auto;
    margin: auto;
}
.footer {
      width: 100%;
    background: #cd9933;
    height: 25px;
    position: fixed;
    bottom: 0px;
    }
      input[type="submit"] {
         background: #cd9933!important;
    color: white!important;
    padding: 10px!important;
    font-size: 12px!important;
    border-radius: 5px!important;
    border: none!important; 
    margin-top:15px;
    margin-bottom:35px;
   }
    .fd_grp  {
    width:50%;
    float:left;
        box-sizing: border-box;
    padding:15px 35px 15px 35px;
  
    }
    .heading {
        color: #cd9933;
    font-size: 18px;
    clear:both;
    }
    .b1 {
    border:1px solid #cd9933;
    }
    <!--input[type=text], textarea {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
     background:#f9f9f9;
}-->
input[type=text],  .form-control {
  background:#f9f9f9;
}
textarea {
   height:100px;
   }
.fd_label {
       margin-bottom: 3px;
    font-size: 14px;
    }
.form_heading {
        font-size: 22px;
    color: #cd9933;
    margin-top:90px;
    }
       .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 43%;
}

/* The Close Button */
.close {
       color: #ffffff;
    float: right;
     font-size: 16px; 
    font-weight: normal;
    text-align: center;
    background:  #cd9933;
    width: 75px;
    padding: 6px;
    border-radius: 5px;
    margin:auto;
    opacity:1;
    
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
    opacity:1;
}
.color_yellow {
  color: #cd9933;
  }
@media only screen and (min-width: 250px) and (max-width: 991px) {
  .modal-content {
  width:80%;
}
}
    </style>
    <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    
    <p id="warning_msg" class="text-center color_yellow"></p>
    <span class="close">Ok</span>
  </div>

</div>

    
  <nav class="navbar navbar-expand-md fixed-top header_top">
  <div class="container">
      <a href="">
      <div class="image">
       <apex:image url="{!$Resource.KVPLogo}" width="180" height="50" />
</div>
</a>
</div>
               
      
      </nav>
  


<div class="container">
 <p class="form_heading">Candidate Job Application Form</p>
    <apex:form id="fm" >
    <apex:actionFunction name="saveData" action="{!doSaveData}" />
         <apex:pageMessages id="myMsg"/>
       <!--  <apex:pageBlock title="Candidate" >
         <apex:pageBlockSection title="Candidate Info" columns="2" >-->
         <p class="heading">Candidate Info</p>
         <hr class="b1"></hr>
         <div class="row">
             <div class="col-lg-6 col-md-6 col-sm-12">
             <div class="form-group">
               <p class="fd_label"><label>Candidate Name</label><sup style="color:red;font-size: 15px;">*</sup></p>
               <apex:inputField value="{!Can.Name}"  required="true" styleClass="form-control" />   
               </div>
                 <div class="form-group">
               <p class="fd_label"><label>Mobile No</label><sup style="color:red;font-size: 15px;">*</sup></p>        
               <apex:inputField value="{!Can.Mobile_No__c}" required="true" styleClass="form-control" />
               </div>
                 <div class="form-group">  
               <p class="fd_label"><label>Email ID</label><sup style="color:red;font-size: 15px;">*</sup></p>
               <apex:inputField value="{!Can.Email_ID__c}" required="true" styleClass="form-control" /> 
               </div>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-12">
                 <div class="form-group">
                             <p class="fd_label"><label>Skype ID</label></p>
               <apex:inputField value="{!Can.Skype_ID__c}" styleClass="form-control"/> 
               </div>
                 <div class="form-group">
               <p class="fd_label"><label>Current Location</label><sup style="color:red;font-size: 15px;">*</sup></p>
               <apex:inputField value="{!Can.Current_Location__c}" required="true" styleClass="form-control"/> 
               </div>
                 <div class="form-group"> 
               <p class="fd_label"><label>Applying for the Position</label><sup style="color:red;font-size: 15px;">*</sup></p>
               <apex:inputField value="{!Can.Applying_for_the_Position__c}" required="true" styleClass="form-control"/>   <br/>  
               </div>        
                  </div>   
                  </div>
              <p class="heading">Additional Information</p>
              <hr class="b1"></hr>    
              <div class="row">
             <div class="col-lg-6 col-md-6 col-sm-12">                     
              <div class="form-group"> 
               <p class="fd_label"><label>Highest Qualification</label></p>
               <apex:inputField value="{!can.Highest_Qualification__c}" styleClass="form-control"/> 
               </div>
               <div class="form-group"> 
               <p class="fd_label"><label>Total Years of Experience</label></p>
               <apex:inputField value="{!can.Total_Years_of_Experience__c}" styleClass="form-control"/>
               </div> 
               <div class="form-group"> 
               <p class="fd_label"><label>How did you hear about KVP?</label></p>
               <apex:inputField value="{!can.How_did_you_hear_about_KVP__c}" styleClass="form-control"/> 
               </div>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-12"> 
                <div class="form-group">    
               <p class="fd_label"><label>Relevant Years of Experience In SFDC  </label></p>            
               <apex:inputField value="{!can.Relevant_Years_of_Experience_In_SFDC__c}" styleClass="form-control"/>
               </div>
                <div class="form-group"> 
               <p class="fd_label"><label>How soon you can join (In days)?</label></p>
               <apex:inputField value="{!can.How_soon_you_can_join__c}" styleClass="form-control"/> 
               </div>
                <div class="form-group">    
               <p class="fd_label"><label>Skills Set</label></p>
               <apex:inputField value="{!can.Skills_Set__c}" styleClass="form-control"/>
               </div>
                </div> 
                </div>                                      
          <p class="heading">Upload Resume</p>
         <hr class="b1"></hr>  
         <div class="fd_grp">
              <apex:inputFile value="{!FileBody}"  filename="{!FileName}" id="file"/ >                             
         <div draggable="false">
              <apex:commandButton value="Save" onclick="confirmation();return false;" />       
         </div>
        </div>      
    </apex:form>
    </div>
     <div class="footer">     
     </div>
     
</apex:page>