<apex:page controller="onlinefeedback1" id="pg" showHeader="False">
 <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  
 <script>
     var x;
    function smiley(Rating){
        //alert('Thanks for the rating');
        document.getElementById("one_1").style.background = "white";
           document.getElementById("one_2").style.background = "white";
            document.getElementById("one_3").style.background = "white";
             document.getElementById("one_4").style.background = "white";
              document.getElementById("one_5").style.background = "white";
               document.getElementById("one_"+Rating).style.background = "#18486f";
               
        document.getElementById('pg:fm:someId').value = Rating; 
         x = Rating; 
         //alert(x);  
          
    }   
    function feedback(){
        //alert('*********coming********');
        var y = document.getElementById('pg:fm:add').value;
        //alert(y);
        console.log("above not x");
        //alert(x);
        if(x!=undefined){         
         //alert('******Give the Additional Feedback******'); 
            if((x==1 || x==2) && (y==null || y==''|| y==undefined)){
            var a=document.getElementById("warning_msg").innerHTML="If Rating is 'Poor' or 'Very Poor' then Additional Feedback is Required";
            console.log("inside x");
            var modal = document.getElementById('myModal');

                        // Get the button that opens the modal
                        var btn = document.getElementById("myBtn");
                        
                        // Get the <span> element that closes the modal
                        var span = document.getElementsByClassName("close")[0];
                        
                        // When the user clicks the button, open the modal 
                        
                            modal.style.display = "block";
                        
                        
                        // When the user clicks on <span> (x), close the modal
                        span.onclick = function() {
                            modal.style.display = "none";
                        }
                        
                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function(event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                          }  
                       }
                                    
                      else{
                           saveData();
                  }   
                }                         
        else{
             // alert('hiii');
            //console.log("you should select something");
            var a=document.getElementById("warning_msg").innerHTML="Select any of the Ratings";
            
             var modal = document.getElementById('myModal');
              
                        // Get the button that opens the modal
                        var btn = document.getElementById("myBtn");
                        
                        // Get the <span> element that closes the modal
                        var span = document.getElementsByClassName("close")[0];
                        
                        // When the user clicks the button, open the modal 
                        
                            modal.style.display = "block";
                        
                        
                        // When the user clicks on <span> (x), close the modal
                        span.onclick = function() {
                            modal.style.display = "none";
                        }
                        
                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function(event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                          }  
           
        }  
    }    
    
$(document).ready(function(){
    
    $("#feed").click(function(){
        $(".txtarea").show(1000);
    });
});

 function assignValue(input, hidden){
          
            document.getElementById(hidden).value = input.value;
            //alert(document.getElementById(hidden).value);
        }

 </script>
 <style>

.image {
    padding-top: 8px;
}
.txtarea {
   display:none;
   }

.ques {
color: black;  
    padding-top: 10px;
   }
  
   .img_center {
     text-align:center;
    
     border-radius:5px;
    
         background:white;
    padding-top: 18px;
    padding-bottom: 18px;
     }
   
     .center_text {
     text-align:center;
     color:#f7555f;
     padding-top:10px;
     }
   .btn {
   background:#ffd536!important;
   color:black!important;
   padding:5px!important;
   }
 
  
    .label {
    font-size:18px;
    }
   
   
   


.img_center img {
    cursor:pointer; 
    }


.pb10 {
padding-bottom:15px;
}

    .mt {
     margin-top:90px;
     }
        .heading {
        color: white;
    font-size: 18px;
   
    }

    .radio_btn label {
    color:#ffd536;
    }
    
    
    .pink {
   background:#f7555f;
   }
   .form_title {
   font-size:22px;
   color:white;
   }
   .blue  {
   background:#18486f;
   }
   .color_blue {
   color:#18486f;;
   }
  
   .form-check-label {
   color:#ffd536!important; 
   }
   
   
   .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 43%;
}

/* The Close Button */
.close {
       color: #ffffff;
    float: right;
     font-size: 16px; 
    font-weight: normal;
    text-align: center;
    background: #18486f;;
    width: 75px;
    padding: 6px;
    border-radius: 5px;
    margin:auto;
    opacity:1;
    
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
    opacity:1;
}
.kvp_logo {
    margin-left:15px;
    margin-top:15px;
    }
   
@media (min-width: 992px) {
  .col-lg-3 {
  max-width:20%!important;
}  
.middle_div {
  width: 337px;
    margin: auto;
    }
}
@media only screen and (min-width: 250px) and (max-width: 991px) {
  .mb30 {
  margin-bottom:30px;
  }
  .modal-content {
  width:80%;
}
}
 </style>
   
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    
    <p id="warning_msg" class="text-center color_blue"></p>
    <span class="close">Ok</span>
  </div>

</div>



 <apex:form id="fm">
 <div class="pink">
 <apex:actionFunction name="saveData" action="{!doSave}"  />
 <apex:inputHidden value="{!feedback}" id="someId"/>
 <apex:inputHidden value="{!radioHidden}" id="hidValId" />
 <apex:image url="{!$Resource.KVPLogo}" width="180" height="50" styleClass="kvp_logo"/>
 <div class="container">
 <p class="text-center pt-5 form_title">YOUR FEEDBACK COUNTS</p>
 <p class="text-center form_title">(ANONYMOUS FEEDBACK)</p>
 
    <p class="heading text-center">How are you feeling today?</p>
       
   <!-- <p class="label ques mt">How are you feeling today?</p> -->
   <div class="row">
                       <div class="col-lg-3 col-md-4 col-sm-12 mb30">             
                      <div class="img_center " id="one_5"><apex:image url="{!$Resource.Smiley1}" width="100" height="100" onclick="smiley(5);" />
                      <div class="center_text">Excellent</div>
                      </div></div> 
                      <div class="col-lg-3 col-md-4 col-sm-12 mb30">                       
                      <div class="img_center " id="one_4"><apex:image url="{!$Resource.Smiley2}" width="100" height="100" onclick="smiley(4);" />
                      <div class="center_text">Very Good</div>
                      </div></div>
                      <div class="col-lg-3 col-md-4 col-sm-12 mb30">  
                      <div class="img_center " id="one_3"><apex:image url="{!$Resource.Smiley3}" width="100" height="100" onclick="smiley(3);" />
                      <div class="center_text">Good</div>
                      </div></div>
                      <div class="col-lg-3 col-md-4 col-sm-12 mb30">  
                      <div class="img_center" id="one_2"><apex:image url="{!$Resource.Smiley4}" width="100" height="100" onclick="smiley(2);"/>
                      <div class="center_text">Poor</div>
                      </div></div>
                      <div class="col-lg-3 col-md-4 col-sm-12 mb30">  
                      <div class="img_center" id="one_1" ><apex:image url="{!$Resource.Smiley5}" width="100" height="100" onclick="smiley(1);" />
                      <div class="center_text">Very Poor</div>
                      </div>   </div>
                      </div>    
                       <apex:image url="{!$Resource.backimg}" width="100%" />                     
           
          </div>
          </div>
          
         <div class="blue">
         <div class="container">
         <p class="heading pt-5 pb-2 text-center" style="color:#ffd536;">Category of your Feedback</p>
        
         <!--<div class="label pb10"><label>Category</label></div>-->
     <!--   <div class="radio_btn">
             <apex:selectRadio value="{!selectedValue}">
            <apex:selectOptions value="{!items}"/>
            </apex:selectRadio><p/>
        </div>-->
        <div class="text-center">
        <div class="form-check-inline">
      <label class="form-check-label" for="radio1">
        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="Work Environment" onclick="assignValue(this,'{!$component.hidValId}')" />Work Environment
      </label> 
    </div>
    <div class="form-check-inline">
      <label class="form-check-label" for="radio2">
        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="HR Policies" onclick="assignValue(this,'{!$component.hidValId}')"/>HR Policies
      </label>
    </div>
     <div class="form-check-inline">
      <label class="form-check-label" for="radio3">
        <input type="radio" class="form-check-input" id="radio3" name="optradio" value="Learning and Development" onclick="assignValue(this,'{!$component.hidValId}')"/>Learning and Development
      </label>
    </div>
     <div class="form-check-inline">
      <label class="form-check-label" for="radio4">
        <input type="radio" class="form-check-input" id="radio4" name="optradio" value="Management" onclick="assignValue(this,'{!$component.hidValId}')"/>Management
      </label>
    </div>
    </div>
    
    
        
        <!--<div id="feed" onclick="valueChanged()" class="pt-4"><p>+ Click Here to Write Feedback</p></div>-->
        <div class="txtarea">
            <p class="heading text-center mt-5" style="color:#ffd536;">Feedback</p>        
             <!-- <div class="label ques "><label>Feedback</label></div>-->
             <div class="form-group">
              <apex:inputTextarea label="Additional Feedback" rows="6"  value="{!feed.Description__c}" id="add" styleClass="form-control"/>  
              </div>
            </div>   
            <div class="pt-5 pb-5 clearfix middle_div ">
            <button type="button" class="btn btn-lg float-left" id="feed" onclick="valueChanged()">Give Additional Feedback</button>               
     <div  draggable="false">
              <apex:commandButton value="  Save Feedback  " Onclick="feedback();return false;" styleClass="btn btn-lg float-left ml-3"/>  
              </div>     
     </div> 
     </div> 
     </div>              
  </apex:form>  
</apex:page>