<apex:page renderAs="pdf" standardController="Milestone1_Task__c">

  <!-- Begin Default Content REMOVE THIS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"/>
   <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"/>
   <apex:stylesheet value="{!$Resource.CRpdfcss}" />

  <div class="pos">
  <div class="heading">
  <div class="fleft">
  <apex:image url="{!$Resource.monitor_image}" width="30" style="padding-left:23px;" />
  <p class="icon_label" >www.kvpcorp.com</p>
  </div>
  <div class="fleft" style="margin-left:20px;margin-top:11px;">
  <apex:image url="{!$Resource.envolope_image}" width="30" style="padding-left:23px;"/>
  <p class="icon_label">info@kvpcorp.com</p>
  </div>
  <div class="fleft" style="margin-left:20px;">
  <apex:image url="{!$Resource.phone}" width="30" style="padding-left:25px;"/>
  <p class="icon_label">+91-8095584666</p>
  </div>
  <div class="fright kvp_head" style="padding-right:10px;">KVP Business Solutions</div>
  </div>
  <div class="red" style="margin-left:6px;"></div>
  </div>
 
  
  <p style="clear:both;padding-top:60px;">
  CR doc #: KVP-{!Milestone1_Task__c.Customer_name__c}-CR #-{!Milestone1_Task__c.Short_ID__c}<br/>
  Date:<apex:outputText value="{0,date, MM'/'dd'/'yyyy}"><apex:param value="{!TODAY()}" /></apex:outputText> 
  </p>
  <p style="font-size:24px;">Change Request Document</p>
  
  
  <p>Presented to : {!Milestone1_Task__c.Customer_name__c}</p>
  
  <p>Opportunity name : {!Milestone1_Task__c.Opportunity_name__c}</p>
  
  <p>Change request title : {!Milestone1_Task__c.Name}</p>
  
  <p>Details of the change (Requirement) : {!Milestone1_Task__c.Description__c}</p>
  
  <p>Our rationale to request for this change : {!Milestone1_Task__c.Rationale_for_this_change__c}</p>
  
  <p>Impact of this change request :</p>
  
  <table class="table_design">
  <tr>
  <th>Impact</th>
  <th>Impact details (if Yes)</th>
  </tr>
  
  <tr>
  <td>Schedule (with it impact go live date)</td>

  <td>{!Milestone1_Task__c.Schedule_impact__c} week</td>
  </tr>
  <tr>
  <td>Effort (in hours – taken to address this CR)</td>
  
  <td>{!Milestone1_Task__c.Effort_impact__c} hours</td>
  </tr>
  <tr>
  <td>Cost (budget impact – commercial value impact)</td>
 
  <td>{!Milestone1_Task__c.Budget_impact__c} INR.</td>
  </tr>
  </table>
  
  <p>CR start date : {!Milestone1_Task__c.Start_Date1__c}<br/>
  CR end date : {!Milestone1_Task__c.Due_Date1__c}<br/>
  </p>
  
  
  Standard change request (CR) terms and condition:
  <ul>
  <li>If any information shared is in correct or not complete, pls. share your views via
email within three working days of receipt of this document and we will revisit based
on your feedback</li>
<li>If there is no commercial impact, we still request customer to acknowledge and
share signed copy of the CR as it will help us keep a record and update our
documents</li>
<li>Customer approval is mandatory to initiate and execute the CR scope and customer
approval is required to raise bill if applicable</li>
</ul>

<p>Approval</p>

<p>The approval section will serve as an agreement to details shared in this document and
approval to begin the CR assignment. Signature below indicates approval to proceed and
this signed document will be treated as an order from Customer.</p>

<p style="page-break-before:always;padding-top:60px;">We appreciate your business and thank you for trusting KVP ability.</p>
<br/>
<p>
<div style="height:auto;width:200px;padding-top:70px;border-top:1px solid black;">Date:</div><br/>
Name:<br/>
Title:<br/>
Company: {!Milestone1_Task__c.Customer_name__c}</p>
  <!-- End Default Content REMOVE THIS -->
 <!--<script>
function myFunction() {
   var a={!Milestone1_Task__c.Schedule_impact__c};
   console.log(a);
   if(a>0)
   { document.getElementById("scdu").innerHTML = "Yes";
   } else {  document.getElementById("scdu").innerHTML = "No"; }
   
    var b={!Milestone1_Task__c.Effort_impact__c};
   console.log(b);
   if(b>0)
   { document.getElementById("effort").innerHTML = "Yes";
   }  else {  document.getElementById("effort").innerHTML = "No"; }
   
    var c={!Milestone1_Task__c.Budget_impact__c};
   console.log(c);
   if(c>0)
   { document.getElementById("budget").innerHTML = "Yes";
   }  else {  document.getElementById("budget").innerHTML = "No"; }
   }
   myFunction();
</script>-->

</apex:page>