<!--Company:      KVP Business Solutions Pvt. Ltd
    Created By:   Subhajit Ghosh
    Created Date: 23.01.2019
    Description:  This is a VF page that generates PDF in the Project level for all the UAT Test Cases-->


<apex:page renderAs="pdf" standardController="Milestone1_Project__c" extensions="Project_Related_Details_Pdf">
    <apex:form >
    
    <apex:stylesheet value="{!$Resource.KVP_Pdf_New}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet"/>
    
    
    <div class="page1" style="page-break-after:always;">
   <div style="position:relative;top:250px;left:330px;text-align:right;width:430px;">
   <h1>UAT summary document 
      - UAT plan and progress document</h1>
   <hr/>
   <h3 style="color:#7b7b7b;">UNLEASH YOUR BUSINESS PROCESS WITH<br/>
   SALESFORCE.COM</h3>
  
     
   <p>Project Name:<br/>
      <apex:outputText value="{!Milestone1_Project__c.Name}"></apex:outputText> 
   </p>
 
   
   <p>Date:<apex:outputText value="{0,date, dd'/'MM'/'yyyy}"><apex:param value="{!TODAY()}" /></apex:outputText></p>
   </div>
   
   <div style="color:white;position:relative;top:480px;left:50px;">
   
   <p>FORWARDED BY<br/>
       <b><apex:outputText value="{!ownerInfo[0].Owner_Name__c}" ></apex:outputText>(Project Manager)</b><br/>
   <b><apex:outputText value="{!ownerInfo[0].Owner.Email}"></apex:outputText></b><br/>
   <b><apex:outputText value="{!ownerInfo[0].Owner.Phone}"></apex:outputText></b></p>
   
   
   
   </div>
   </div>
   
   
  
    <div style="width:650px;">
    
   <h2 style="color:#ffbe00;font-size:20px;">Project details</h2>
   <hr style="background:#313f4c;" size="10"/>
    
    <ul style="float:left;">
   
    
    <li>Project Id : {!Milestone1_Project__c.Project_ID__c}</li>
    
    <li>Project Name : {!Milestone1_Project__c.Name}</li>
    
    <li> Project Start Date :&nbsp;<apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
        <apex:param value="{!Milestone1_Project__c.Kickoff__c}" /></apex:outputText> </li>
        
     <li> Project End Date :&nbsp;<apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
        <apex:param value="{!Milestone1_Project__c.Deadline__c}" /></apex:outputText> </li> 
              
    <li>Total Actual Days : {!TEXT(Milestone1_Project__c.Actual_Project_Days__c)}</li>
    
    <li>Status : {!Milestone1_Project__c.Status__c}</li>

   

    
       
    </ul>
    
    
         <apex:outputPanel rendered="{!IF(uatCount != false,true,false)}">  
        <div style="float:right;background:#313f4c;color:#ffbe00;padding:15px;width:180px;font-size:18px;margin:20px 10px 10px 10px;font-weight:bold;text-align:center;">
   Total<br/> number of<br/> current UAT test cases :<br/> {!uatSize}
       </div>
        </apex:outputPanel>
        
        
        
    <apex:outputPanel rendered="{!IF(uatCount != false,true,false)}"> 
        <br/>
    <h2 style="color:#ffbe00;font-size:20px;clear:both;">List of UAT cases</h2>
   <hr style="background:#313f4c;" size="10"/>
   <apex:variable value="{!1}" var="count2"/>
    <table class="table_design customers" width="100%">
        <tr>
            <th>SN</th>
            <th>Name</th>
            <th>Customer<br/> Approval</th>
            <th>Test Case Type</th>
            <th>Customer Feedback</th>
            
                                  
        </tr>
        <apex:repeat value="{!uatRequirementList}" var="mileTestUAT" >
            <tr>
                <td>{!FLOOR(count2)} </td>
                <td>{!mileTestUAT.Name}</td>
                <td><div style="width:10px;height:10px;border:1px solid black;"> </div></td>
                <td>{!mileTestUAT.Test_Case_Type__c}</td>
                <td height="75px"> <apex:outputText ></apex:outputText> </td>
                <apex:variable var="count2" value="{!count2+ 1}"/>
            </tr>
        </apex:repeat>
    </table>
    </apex:outputPanel>
    <br/>
  
 
     
        <h2 style="color:#ffbe00;font-size:20px;clear:both;">KVP team involved in this project</h2>
   <hr style="background:#313f4c;" size="10"/>
        
<table class="table_design customers" width="100%">
    <tr>
           
            <th width="25%">Name</th>
            <th width="25%">Designation</th>
            <th width="25%">Email</th>
            <th width="25%">Contact</th>
          
            
                                  
        </tr>
        
        <apex:repeat value="{!ownerInfo}" var="projOwnerDetails" >
            <tr>
                <td>{!projOwnerDetails.Owner_Name__c}</td>
                <td>Project Manager</td>
                <td>{!projOwnerDetails.Owner.Email}</td>
                <td>{!projOwnerDetails.Owner.Phone}</td>
             
            </tr>
        </apex:repeat>
    

     
   
         <apex:repeat value="{!teamInfo}" var="projOwner" >
            <tr>
                <td width="25%">{!projOwner.User__r.name}</td>
                <td width="25%">{!projOwner.Role__c}</td>
                <td width="25%">-</td>
                <td width="25%">-</td>
                
            </tr>
            
            
        </apex:repeat>
    
        
     
        

    </table> 
  
      
</div>
</apex:form>
</apex:page>