<apex:page contentType="application/msword#{!Milestone1_Project__c.Name}-UAT_Detailed.doc" standardController="Milestone1_Project__c" extensions="ProjectUATAllDetails">
    <apex:form >
    
   
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet"/>
    
     <apex:stylesheet value="{!$Resource.wordcss}" />
   <table width="100%">
   <tr>
   <td width="80%" height="150px"></td>
   <td  width="20%" ><img src="https://d2q79iu7y748jz.cloudfront.net/s/_logo/219094c639a94f3343d38a99b3491ac8" width="150" height="50"/></td>
   
   </tr>
   </table>
   <hr/>
  <i> Ref: KVP-<apex:outputText value="{!Milestone1_Project__c.Name}"></apex:outputText>-UAT</i><br/>
   <i>Date: <apex:outputText value="{0,date, dd'/'MM'/'yyyy}"><apex:param value="{!TODAY()}" /></apex:outputText></i>
   
   
   <p style="margin-top:100px;margin-bottom:100px;font-size:70px;font-weight:bold;">Project UAT detailed - Project plan and progress document</p>
   
   <ul>
   <apex:outputPanel rendered="{!IF(Milestone1_Project__c.Account__r.Name != NULL,true,false)}">
   <li style="margin-bottom:30px;">Presented to: <apex:outputText value="{!Milestone1_Project__c.Account__r.Name}"></apex:outputText></li>
   </apex:outputPanel>
   <li>Project name:<apex:outputText value="{!Milestone1_Project__c.Name}"></apex:outputText> </li>
   <li>Project start date:<apex:outputText value="{0,date,dd'-'MM'-'yyyy}"><apex:param value="{!Milestone1_Project__c.Kickoff__c}" /></apex:outputText></li>
   <li>Project end date:<apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
        <apex:param value="{!Milestone1_Project__c.Deadline__c}" /></apex:outputText></li>
   <li>UAT testing start date: </li>
   <li style="margin-bottom:30px;">UAT testing end date : </li>
   <li>Number of total requirements:<apex:outputText value="{!TEXT(Milestone1_Project__c.Total_Requirements__c - 2)}"></apex:outputText></li>
   <li>Number of UAT test cases for customers:<apex:outputText value="{!uatsize}"></apex:outputText></li>
   <li style="margin-bottom:30px;">Number of test cases KVP tested: <apex:outputText value="{!TEXT(Milestone1_Project__c.Total_Test_Cases_in_Project__c)}"></apex:outputText></li>
   <li style="margin-bottom:30px;">UAT testing team representing customer: </li>
   <li>UAT testing team from KVP:
   <ul>
   <li>Project manager: <apex:outputText value="{!ownerInfo[0].Owner_Name__c}" ></apex:outputText></li>
     <apex:outputPanel rendered="{!IF(teamInfo.size > 0,true,false)}">    
   <li>Quality analyst name: <apex:outputText value="{!teamInfo[0].User__r.Name}" ></apex:outputText> </li>
       </apex:outputPanel>
   </ul>
   </li>
   </ul>
  
   
   <!--<p>Date:<apex:outputText value="{0,date, dd'/'MM'/'yyyy}"><apex:param value="{!TODAY()}" /></apex:outputText></p>-->
   
   
  <!-- <div style="text-align:center;">
   <p style="margin-top:150px;">FORWARDED BY<br/>
       <b><apex:outputText value="{!ownerInfo[0].Owner_Name__c}" ></apex:outputText>(Project Manager)</b><br/>
   <b><apex:outputText value="{!ownerInfo[0].Owner.Email}"></apex:outputText></b><br/>
   <b><apex:outputText value="{!ownerInfo[0].Owner.Phone}"></apex:outputText></b></p>
   </div>-->
   
   
   
  <br style="page-break-before:always;page-break-after:always;"/>
  <h6 style="color:white;">-</h6>
      <table width="100%">
   <tr>
   <td width="80%" height="150px"></td>
   <td  width="20%" ><img src="https://d2q79iu7y748jz.cloudfront.net/s/_logo/219094c639a94f3343d38a99b3491ac8" width="150" height="50"/></td>
   
   </tr>
   </table>
   <hr/>
 
  
  <br/>
  
   <h2 style="color:#ffbe00;font-size:20px;">UAT guideline document </h2>
   
   
   <h2 style="color:#ffbe00;font-size:16px;">About UAT </h2>
  <p> User acceptance testing (UAT) is the last phase of the software testing process. During UAT, actual software users test the software to make sure it can handle required tasks in real-world scenarios, according to specifications. UAT is one of the final and critical software project procedures that must occur before newly developed software is rolled out to the final set of users (or Salesforce.com production).</p>
    <h2 style="color:#ffbe00;font-size:16px;">UAT goal  </h2>
    <p>The goal of User Acceptance Testing is to assess if the system can support day-to-day business and user scenarios and ensure the system is sufficient and correct for business usage.</p> 
   <h2 style="color:#ffbe00;font-size:16px;">UAT team composition </h2> 
   <p>The most important team (or group) to include in UAT testing are "real" end users of your software. Every role and stakeholder group should be included which means that people from each group should be selected to join the UAT team.</p>
    
    
 
   <h2 style="color:#ffbe00;font-size:20px;">UAT execution steps: KVP's UAT process consists of five steps  </h2>
  
   <ol>
   <li>Analyze critical requirements and draft the requirement details. The UAT test case is drafted considering the particular requirement. So understanding requirement is critical for successful UAT. </li>
   <li>KVP will define UAT test cases, with test steps and acceptance criteria - Each UAT test case covers a specific usage scenario of the application. It is normally a set of actions which the user can carry out and be able to verify if the software’s worked as intended.</li>
   <li>Based on testing procedure, customer will record the test results and feedback </li>
   <li>If the feedback is negative (or any bug identified), then KVP team will fix bugs then and re-tested by customer and get sign-off UAT test case from customer </li>
   <li>If the feedback is negative (or any bug identified), then KVP team will fix bugs then and re-tested by customer and get sign-off UAT test case from customer </li>
   </ol>
   
   <br style="page-break-before:always;page-break-after:always;"/>
   
     <h6 style="color:white;">-</h6>
      <table width="100%">
   <tr>
   <td width="80%" height="150px"></td>
   <td  width="20%" ><img src="https://d2q79iu7y748jz.cloudfront.net/s/_logo/219094c639a94f3343d38a99b3491ac8" width="150" height="50"/></td>
   
   </tr>
   </table>
   <hr/>
   
    <h2 style="color:#ffbe00;font-size:20px;">Time lines and approval request</h2>
   <p>UAT is an integral part of our overall project plan. Completing UAT on time is critical for our mutual success. So request your time and support to drive an engaged UAT sessions and conclude as per plan. Any delay in customer availability will impact the project schedule. If there is customer availability concerns that UAT will be considered done on the agreed UAT completion date as defined in overall project plan.  </p>
   

   <h2 style="color:#ffbe00;font-size:20px;">UAT sign-off   </h2>
   
   <p>Sign off on the UAT is approval from users that the software is working as per the requirement and the peer group accepts the software is ready for their use. UAT sign off also indicates acceptance of the system and it is considered an approval from customer to move the code to actual production. </p>
   <h2 style="color:#ffbe00;font-size:20px;">Acceptance and approval  </h2>
   
   <p>The approval section of this UAT document will serve as a firm sign-off of UAT stage. Signature and return of approval section below indicates approval to proceed and this signed document will be treated as an approval from users that the software complies to the requirement and scope agreed upon. </p>
   <p>We appreciate your business and thank you for trusting KVP ability.</p>
  
   <table width="100%" style="padding-top:80px;">
   <tr>
   <td width="50%">
   Date:<br/>
   Name : <br/>
   Title : <br/>
   
   </td>
    <td width="50%" style="text-align:right;">
   Date:<br/>
   Name : <br/>
   Title : <br/>
   KVP Business Solution
   </td>
   </tr>
   </table>
   
   
   <br style="page-break-before:always;page-break-after:always;"/>
  <h6 style="color:white;">-</h6>
      <table width="100%">
   <tr>
   <td width="80%" height="150px"></td>
   <td  width="20%" ><img src="https://d2q79iu7y748jz.cloudfront.net/s/_logo/219094c639a94f3343d38a99b3491ac8" width="150" height="50"/></td>
   
   </tr>
   </table>
   <hr/>
    
    
       <apex:repeat value="{!uatRequirementList}" var="mileTestUAT" >
   <h2 style="color:#ffbe00;font-size:20px;">Requirement overview</h2>
   
   <h2 style="color:#ffbe00;font-size:16px;"> {!mileTestUAT.Predecessor_Task__r.Name}</h2>
   
    <p><b>Requirement details: </b></p>
           
             
                <ul>
                <li>Requirement ID : {!mileTestUAT.Predecessor_Task__r.Short_ID__c}</li>
               <li>Project Module Name : {!mileTestUAT.Project_Module__r.Name}</li>
                <li>Requirement Description : {!mileTestUAT.Predecessor_Task__r.Description__c}</li>
                <li>Requirement Owner : {!mileTestUAT.Predecessor_Task__r.Assigned_To__r.Name}</li>
                </ul>
    
     <hr style="background:#313f4c;"/>
    
    <h2 style="color:#ffbe00;font-size:16px;">UAT Test case details </h2>
    
    
    <p><b>UAT Test overview: </b></p>
    <p>{!mileTestUAT.Name}</p>
    
    <p><b>UAT Test case detail: </b></p>
    <p>{!mileTestUAT.Test_Description__c}</p>
    
    <p><b>UAT Test steps: </b></p>
    <p>{!mileTestUAT.Test_Steps__c}</p>
    
    <p><b>Expected results (Acceptance criteria): </b></p>
    <p> {!mileTestUAT.Expected_Results__c}</p>
    
     <hr style="background:#313f4c;"/>
    
   <h2 style="color:#ffbe00;font-size:16px;"> Customer feedback </h2>
    
    <p><b>Customer name:</b></p>
    <p><b>Customer comments:</b></p>
    <p><b>Customer approved:</b></p>
    
      <br style="page-break-before:always;"/>
        </apex:repeat>
    
    
 <!--   <ul>
   
    
    <li>Project Id : {!Milestone1_Project__c.Project_ID__c}</li>
    
    <li>Project Name : {!Milestone1_Project__c.Name}</li>
    
    <li> Project Start Date : &nbsp; <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
        <apex:param value="{!Milestone1_Project__c.Kickoff__c}" /></apex:outputText> </li>
        
     <li> Project End Date : &nbsp;<apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
        <apex:param value="{!Milestone1_Project__c.Deadline__c}" /></apex:outputText> </li> 
              
    <li>Total Actual Days : {!TEXT(Milestone1_Project__c.Actual_Project_Days__c)}</li>
    
    <li>Status : {!Milestone1_Project__c.Status__c}</li>

   

    
       
    </ul>
    
    
    
    
    
         <apex:outputPanel rendered="{!IF(uatCount != false,true,false)}">  
       <table width="100%">
       <tr> <td style="background:#313f4c;color:#ffbe00;padding:15px;width:180px;font-size:18px;margin:20px 10px 10px 10px;font-weight:bold;text-align:center;">
   Total<br/> number of<br/> current UAT test cases :<br/> {!uatSize}
       </td></tr>
       </table>
        </apex:outputPanel>
       
    
        
         <br style="page-break-after:always;"/>
    <apex:outputPanel rendered="{!IF(uatCount != false,true,false)}"> 
        <br/>
    <h2 style="color:#ffbe00;font-size:20px;clear:both;">Details of UAT cases</h2>
      <hr style="background:#313f4c;"/>   
         <apex:repeat value="{!uatRequirementList}" var="mileTestUAT" >
            <div> 
                
                Project Module Details: <br/>
                <ul>
                <li>Project Module Name : {!mileTestUAT.Project_Module__r.Name}</li>
               </ul>
                
                Requirements Details: <br/>
                <ul>
                <li>Requirement ID : {!mileTestUAT.Predecessor_Task__r.Short_ID__c}</li>
                <li>Requirement Name : {!mileTestUAT.Predecessor_Task__r.Name}</li>
                <li>Requirement Description : {!mileTestUAT.Predecessor_Task__r.Description__c}</li>
                <li>Requirement Owner : {!mileTestUAT.Predecessor_Task__r.Assigned_To__r.Name}</li>
                </ul>
                
                UAT Details: <br/>
                <ul>
                <li>UAT Case Name : {!mileTestUAT.Name}</li>
                <li>UAT Description : {!mileTestUAT.Test_Description__c}</li>
                <li>Test Steps : {!mileTestUAT.Test_Steps__c}</li>
                 <li>Expected Results : {!mileTestUAT.Expected_Results__c}</li>
                <li>Owner : {!mileTestUAT.Assigned_To__r.Name}</li>
                <li>Test Case Type : {!mileTestUAT.Test_Case_Type__c}</li>
                
                
                <li>Customer Approval<div style="width:10px;height:10px;border:1px solid black;display:inline-block;"></div></li>
                 
               <li>Customer Comments</li>
               </ul>
             </div>
              <br style="page-break-before:always;"/>
        </apex:repeat>
       </apex:outputPanel>
    <br/>
  
 
     
        <h2 style="color:#ffbe00;font-size:20px;clear:both;">KVP team involved in this project</h2>
   
        <hr style="background:#313f4c;"/>
<table  width="100%" border="1" style="border-collapse:collapse;">
    <tr>
           
            <th width="25%">Name</th>
            <th width="25%">Designation</th>
            <th width="25%">Email</th>
            <th width="25%">Contact</th>
          
            
                                  
        </tr>
        
        <apex:repeat value="{!ownerInfo}" var="projOwnerDetails" >
            <tr>
                <td>{!projOwnerDetails.Owner_Name__c}</td>
                <td>Project Manager</td>
                <td>{!projOwnerDetails.Owner.Email}</td>
                <td>{!projOwnerDetails.Owner.Phone}</td>
             
            </tr>
        </apex:repeat>
    

     
   
         <apex:repeat value="{!teamInfo}" var="projOwner" >
            <tr>
                <td width="25%">{!projOwner.User__r.name}</td>
                <td width="25%">{!projOwner.Role__c}</td>
                <td width="25%">-</td>
                <td width="25%">-</td>
                
            </tr>
            
            
        </apex:repeat>
    
        
     
        

    </table> 
  
       -->

</apex:form>
</apex:page>