<apex:page showHeader="false">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<style>
    .msg {
    background:#18486f;
    color:#f7555f;
    height:200px;
    font-size:48px;
    text-align:center;
    line-height:200px;
    }
     @media only screen and (min-width: 250px) and (max-width: 640px) {
     .msg {
     font-size:24px;
}}
</style>
    <apex:form >
      <apex:image url="{!$Resource.pic}" width="100%" styleClass="img-fluid"/>
      
        <div class="msg">Thanks for valuable feedback </div>
         <apex:image url="{!$Resource.msgimg}" width="250px" height="250px" styleClass="img-fluid mx-auto d-block pt-5"/>
    </apex:form>
</apex:page>