body {
    font-family: 'Roboto', sans-serif!important;
    font-size: 14px;

}
.pos {
    position: fixed;
    top: 0px;
}
.heading {
    background:#bfbfbf;
    width:80%;
    height:38px;
    padding:11px;
    float: left;
    }
    .red {
      width:10%;
    height:38px;
    padding:11px;
      background: #e36c0a;
      float: left;
    }
    .fa_icon {
    color:white;
    font-size:25px;
    }
    .icon_label{
    margin: 0;
    font-size: 11px;
    color: white;
    }
    .fleft {
    float:left;
    }
    .fright {
    float:right;
    }
    .kvp_head {
    color:white;
    line-height:35px;
    font-size:16px;
    }
    .table_design {
    border-collapse: collapse; 
    width: 100%;
}

.table_design td, .table_design th {
    border: 1px solid #ddd;
    padding: 4px;
}

.table_design th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    background-color: #dddddd;
    color: black;
}
@page {
    @bottom-right {
        content: counter(page);

    }
}