
@page:first {
  margin: 0cm!important;
  padding: 0px!important;
}
.page1 {
  background-image: url('https://kvp--sandfin--c.cs75.visual.force.com/resource/1547545949000/PageStyle1');
  background-repeat: no-repeat;
    background-size: 810px 1020px;
    height: 1020px;
    width: 810px;
    background-position: top center;
}
body {
  font-family: 'Roboto', sans-serif!important;
}
@page {
  margin:20mm 20mm 20mm 20mm!important;
  

   @bottom-left  {
    background: #313f4c!important;
   
   color:white!important;
   }
   @bottom-center {
    background: #313f4c!important;
   }
   @bottom-right {
    background: #313f4c!important;
   }
   @bottom-left-corner {
    font-family: 'Roboto', sans-serif!important;
    background: #313f4c!important;
      content:'Page 'counter(page);
      color:white!important;
   }
    @bottom-right-corner {
      font-family: 'Roboto', sans-serif!important;
    background: #313f4c!important;
      content:'page 'counter(page);
      color:#313f4c!important;
   }
}
li {
  line-height: 30px;
}
.customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
 
}

.customers td, .customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background:#313f4c!important;
  color: white;
}
.rich_text_area p {
  margin: 0px!important;
}
/*.page2 {

  background-image: url('https://c.ap5.visual.force.com/resource/1547100516000/kvptemplatepg2');
  background-repeat: no-repeat;
    background-size: 818px 1054px;
    height: 1054px;
    width: 818px;   
}*/